* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
header a,
footer a {
	color: inherit;
	text-decoration: none;
}
header a:visited,
footer a:visited {
	color: inherit;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#site-branding {
	text-align: center;
  margin: 8px 16px 0;
}
#site-title {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 24px;
	margin: 0;
}
#site-tagline {
	margin: 0;
	font-weight: normal;
	font-size: 11px;
}
nav {
  margin: 8px 16px 0;
}
nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}
nav li {
	list-style: none;
}
nav a {
	display: block;
	padding: 8px;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#social {
	display: flex;
	margin: 16px;
	padding: 0;
}
#social li {
	list-style: none;
}
#social a {
	display: block;
	padding: 8px;
}
#site-info {
  margin: 16px;
}
